 .titulo{
   text-align: center;
   font-family: 'Ubuntu', sans-serif;
   color: seagreen;
   font-style: italic;
 }
 
 .foto{
   border-radius: 12px;
   float: left;
   max-width:100%;
	 height:auto;
   -webkit-filter: opacity(35%);
    filter: opacity(35%);
 }

.sub{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

#hab{
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
   color: seagreen;
   font-style: italic;
}
.item{
    text-align: center;
    padding: 1%;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 5px;
    background-color: cadetblue;
}
.info{
  font-family: 'Handlee', cursive;
  padding: auto;
  margin: auto;
  max-width:100%;
	 height:auto;
}    
.item:hover{
    background-color: dodgerblue;
    transform: scale(1.1);
    font-size: 1.7em;
}
 body{
   background-color: gray;
 }
#resumo{
    background-color: #99A6BF;
    position: relative;
}

#formacao{
    background-color: #C4DDF2;
    position: relative;
}
#rodape{
    background-color: #667336;
}
#prog{
  padding: auto;
  margin-bottom: 15px;
}

.atual{
  font-weight: bold;
  font-size: 1.8em; 
}
.dados{
  margin: 7px;
  padding: 14px;
  font-size: 18px;
}
.container {
    overflow: hidden;  
    width: 98%;
    margin: auto;
    padding: auto;
}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, .col_13, .col_14, .col_15, .col_16{
    float: left;
    padding: 1%;
    overflow: auto;
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}

.col_1 {
  width: 4.25%;
}

.col_2 {
  width: 10.5%;
}

.col_3 {
  width: 16.75%;
}

.col_4 {
  width: 23%;
}

.col_5 {
  width: 29.25%;
}

.col_6 {
  width: 35.5%;
}

.col_7 {
  width: 41.75%;
}

.col_8 {
  width: 48%;
}

.col_9 {
  width: 54.25%;
}

.col_10 {
  width: 60.5%;
}

.col_11 {
  width: 66.75%;
}

.col_12 {
  width: 73%;
}

.col_13 {
  width: 79.25%;
}

.col_14 {
  width: 85.5%;
}

.col_15 {
  width: 91.75%;
}

.col_16 {
  width: 98%;
}

.subcol1{
  width: 98%;
  float: left;
  padding: 1%;
  overflow: auto;
  padding-bottom: 42424px;
  margin-bottom: -42424px;
}
.subcol2{
  width: 48%;
  float: left;
  padding: 1%;
  overflow: auto;
  padding-bottom: 42424px;
  margin-bottom: -42424px;
}
/*media queries*/
@media screen and (min-width: 960px){
  .col_4 {
    width: 23%;
  }
  .col_12 {
    width: 73%;
  }
  .col_16 {
    width: 98%;
  }
  
}

@media screen and (max-width: 647px){
    .col_4, .col_12, .col_16{
        width: 98%;
    }
    .subcol2{
    width: 98%;
    float: left;
    padding: 1%;
    overflow: auto;
    padding-bottom: 42424px;
    margin-bottom: -42424px;
    }

}
@media screen and (min-width: 647px) and (max-width: 959px){
  .col_4 {
    width: 23%;
  }
  .col_12 {
    width: 73%;
  }
  .col_16 {
    width: 98%;
  }
  .subcol2{
    width: 98%;
    float: left;
    padding: 1%;
    overflow: auto;
    padding-bottom: 42424px;
    margin-bottom: -42424px;
    }

}