$navColor: #f1f1f1;
$primarycolor: #382cc1;
$textcolor2: #000000b5;


body{
    margin: 0;
    font-family: "Open Sans",sans-serif;
}

table, td {
    padding: 10px;
}
td{
    padding-left: 30px;
}

table{
    margin: 40px auto;
}

ul{
    list-style-type: none;
}

.fa-circle{
    color: $primarycolor;
}

.center{
    text-align: center;
}

.nav{
    background-color: $navColor;
    opacity: 0.6;
}

.nav li a{
    color: $primarycolor;
}

//NESTING
#personalInfo{
    margin-top: 100px;

    img{
        width: 200px;
        border-radius: 50%;
        border: 5px solid $textcolor2;
    }

    h1{
        margin-top: 15px;
    }
    h3{
        color: $textcolor2;
        margin-top: 10px;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card{
    margin: 6px;
    text-align: left;
}

//INHERITANCE
%buttonTemplate{
    color: $primarycolor;
    border: 1px solid $primarycolor;
    text-decoration: none !important;
}

#projectsButton{
    @extend %buttonTemplate;
    margin-top: 15%;
    
}
#projectsButton:hover{
    
    transform: scale(1.01);
}
.cardButton{
    @extend %buttonTemplate;
    margin-top: auto;
}

.academicData{
    margin: 20px;
}

.academicData ul{
    text-align: left;
    padding-top: 40px;
}

#education li + li{
    margin-top: 30px;
}

.vl{
    border-left: 2px solid $primarycolor;
    height: 1;
}

.categories{
    padding-inline-start: 40px;
}

#contactInfo{
    margin-top: 100px;
}
.socailButton{
    
    border: none;
    color: $primarycolor;
    font-size: 40px;
    cursor: pointer;
    margin: 15px;
    text-decoration: none !important;

}


.quote {
    margin-top: 150px;
    font-family: 'Roboto', serif;
    font-size: 40px;
    font-weight: 100;
    line-height: 1.8em;
    border-left: 4px solid $primarycolor;    
}

@media (max-width:992px){
    .vl{
        border-bottom: 2px solid $primarycolor;
        height: 0;
        width: 30rem;
    }
}